
<form>
    <Label>Title</Label>
    <input id="title" type="text" required="true" style="width: 40vw;" >
    <br>
    <Label>Post</Label>
    <input id="body" type="text" required="true" style="width: 80vw; word-break: break-word;">
    <br>
    <input type="button" (click)="setPost()" value="Submit">
</form>
<div class="post" *ngFor="let post of posts">

    <span class="line"><span class="bold"> User ID: </span> {{post.userId}}</span><br>
    <span class="line"><span class="bold">Post ID:</span> {{post.id}}</span><br>
    <span class="line"><span class="bold">Title:</span> {{post.title}}</span><br>
    <span class="line"><span class="bold">Body: </span> {{post.body}}</span><br>

</div>