#content-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
}

:host {
    display: block;
    text-align: center;
}

.content {
    width: 30vw;
    text-align: justify;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    padding:  20px;
    border-radius: 15px;
}